* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #333;
  line-height: 1.5;
}

.app {
  position: relative;
}

main {
  padding : 12px 0;
}

@media only screen and (max-width: 1024px) {
  main {
    padding: 12px;
  }
}

.alert-message {
  position: absolute;
  top: 64px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  animation-name: slide-down;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
}

.entry-info {
  color: #999  ;
  margin-bottom: 1.5rem !important;
}

.is-green {
  color: mediumseagreen;
}

.is-grey {
  color: #999;
}

i:focus, i:hover, i:active {
  cursor: pointer;
}

@keyframes slide-down {
  from { top: -64px; }
  to { top: 64px; }
}

/* level */
.level-item {
  justify-content: flex-start !important;
}
